<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">Modern Hospital LLC</a>
            </div>
            <ul>
                <li sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/users/recent}" th:text="#{login.users}">Users</a>
                </li>

                <li sec:authorize="hasAnyAuthority('ADMIN','DOCTOR','NURSE')">
                    <a th:href="@{|/users/patients/of/${#authentication.details.id}|}" th:text="#{login.patients}">Patients</a>
                </li>

            </ul>
            <ul>
                <li sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/users/nurses}" th:text="#{login.nurses}">Nurse</a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/users/doctors}" th:text="#{doctor.doctors}">Doctors</a>
                </li>
            </ul>
            <ul>
                <a th:href="@{''(lang=en)}">English</a>
                <a>/</a>
                <a th:href="@{''(lang=ua)}">Українська</a>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/users}"><span class="glyphicon glyphicon-user" th:text="#{login.registration}"
                                                 sec:authorize="isAnonymous()"></span></a></li>
                <li><a th:href="@{/login-form}"><span class="glyphicon glyphicon-log-in" th:text="#{login.login}"
                                                      sec:authorize="isAnonymous()"></span> </a></li>
            </ul>
            <ul>
                <form th:action="@{/logout}" method="post" style="display: inline-block"
                      sec:authorize="isAuthenticated()">
                    <input type="submit" th:value="#{login.logout}">
                </form>
            </ul>
        </div>
    </nav>
</div>