<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.login}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css"
          integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">

</head>
<body>
<div th:replace="header"></div>
<div class="m-5 p-1">
    <h2 th:text="#{login.loginForm}">LogIn Form</h2>
    <p style="color: #ff0000" th:if="${param.error}" th:text="#{login.emailOrPasswordIsInc}"></p>
    <form th:action="@{/login}" method="POST">
        <table>
            <tr>
                <td th:text="#{login.email}+':'">E-mail:</td>
                <td>
                    <input type="text" name="username" size="24"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{login.password}+':'">Password:</td>
                <td>
                    <input type="password" name="password" size="24"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="submit" th:value="#{login.login}"/>
                </td>
            </tr>
        </table>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
    <p></p>
    <a th:text="#{login.dontHaveAccount}">Don't have an account?</a> <a>  </a>
    <a th:href="@{/users}" th:text="#{login.registerNow}">Register now!</a>
</div>

</body>
</html>