<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{medicalCard.info}">Medical card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css"
          integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
</head>
<body>
<div th:replace="header"></div>
<div class="m-5 p-1 width: max-content">

    <h2 th:text="#{medicalCard.info}">Medical card info</h2>
    <br>

    <table>
        <tr>
            <td>
                <label th:text="#{medicalCard.finalDiagnosis}+':'">Final Diagnosis</label>
            </td>
            <td>
                <input type="text" th:field="*{medicalCard.finalDiagnosis}" th:value="*{medicalCard.finalDiagnosis}"
                       disabled/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <form th:action="@{|/medicalCard/finish/${id}|}" method="post" sec:authorize="hasAuthority('DOCTOR')">
                    <input type="submit" th:value="#{medicalCard.finishTreatment }"/>
                    <input type="text" th:value="${diagnosis}" name="diagnosis"/>
                </form>
            </td>
        </tr>
    </table>


    <br>
    <form class="button" th:action="@{|/assignment/${medicalCard.id}|}" method="GET"
          sec:authorize="hasAuthority('DOCTOR')">
        <input type="submit" th:value="#{assignment.createNew}"/>
    </form>


    <br>
    <table border="1" class=" text-center">
        <tr>
            <th th:text="#{list.no}">No.</th>
            <th th:text="#{medicalCard.currentDiagnosis}">Current Diagnosis</th>
            <th th:text="#{medicalCard.isComplete}">Is Complete</th>
            <th th:text="#{assignment.action}">Action</th>

        </tr>
        <tr th:each="assignment, iStat: ${medicalCard.assignmentList}">
            <td th:text="${iStat.index + 1}"/>
            <td th:text="${assignment.currentDiagnosis}">
            <td th:text="#{'patient.'+${assignment.isComplete}}">
            <td>
                <a th:href="@{|/assignment/view/${assignment.id}|}" th:text="#{assignment.open}">Open Assignment</a>
            </td>
        </tr>
    </table>

</div>
</body>
</html>