<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{medicalCard.info}">Medical card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css"
          integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
</head>
<body>
<div th:replace="header"></div>
<div class="m-5 p-1 width: max-content">

    <h2 th:text="#{medicalCard.info}">Medical card info</h2>
    <br>
<!--    <form th:method="POST" th:action="@{|/users/patients/${#authentication.details.id}|}" th:object="${assignmentDto}"> -->
<!--        -->
<!--    </form>-->
    <form class="button" th:action="@{/home}" method="GET">
        <input type="submit" value="Ha"/>
    </form>

    <table border="1" >
        <tr>
            <th th:text="#{list.no}">No.</th>
            <th th:text="#{medicalCard.currentDiagnosis}">Current Diagnosis</th>
            <th th:text="#{medicalCard.isComplete}">Is Complete</th>
            <th th:text="#{medicalCard.openAssignment}">Open Assignment</th>

        </tr>
        <tr th:each="assignment, iStat: ${assignments}">
            <td th:text="${iStat.index + 1}" />
<!--            <td>-->
<!--                <a th:text="${user.firstName + ' ' + user.lastName}" />-->
<!--            </td>-->
<!--            <td th:text="${user.email}"/>-->

<!--            <td>-->
<!--                <a th:href="@{|/users/patients/${user.id}/info|}" th:text="#{patient.info}">Info</a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <a th:href="@{|/users/${user.id}/delete|}">Remove</a>-->
<!--            </td>-->
        </tr>
    </table>

</div>
</body>
</html>