<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{patient.newPatient}">New Patient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css"
          integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">

</head>
<body>
<div th:replace="header"></div>

<div class="m-5 p-1 width: max-content">

    <h2 th:text="#{patient.patientRegistration}">Patient registration</h2>
    <br>
    <form th:method="POST" th:action="@{|/users/patients/${user.id}|}" th:object="${user}">
        <table>
            <tr>
                <td>
                    <label th:text="#{login.firstName}">First name</label>
                </td>
                <td>
                    <input type="text" th:field="*{firstName}" th:value="*{firstName}" disabled/>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="#{login.lastName}">First name</label>
                </td>
                <td>
                    <input type="text" th:field="*{lastName}" th:value="*{lastName}" disabled/>
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    <label th:text="#{login.email}">First name</label>
                </td>
                <td>
                    <input type="text" th:field="*{email}" th:value="*{email}" disabled/>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" th:value="#{doctor.add}"/>
                </td>
                <td>
                    <input type="reset" th:value="#{login.clear}"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>